#box{
	width: 100px;
	height: 100px;
	background-color: rgb(217, 237, 247);
	border-radius: 50px;
	
	.clicks{
		font-size: 30px;
		top: 8px;
		padding-top: 15px;
	}

	.clicks-caption{
		top: 60px;
	}
}

.m-top-20 {
	margin-top: 20px;
}